body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.boxcontainer {
    background-color:#FF4F4F;
    color:white;
    padding:20px; 
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35)
}

.boxcontainerdark {
    background-color:firebrick;
    color:white;
    padding:20px;
    box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4);
    border-radius: 8px;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: grey !important;
}

ul.nav li.active a {
    color: white !important;
}

.redtext{
    color: red;
}

/* BOOTSTRAP OVERRIDE */

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* visited link */
a:hover {
    color: #ff9999;
}

/* selected link */
a:active {
    color: darkred;
}