@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<address>
    23 Randall Avenue<br />
    Sacramento, CA<br />
    <abbr title="Phone">P:</abbr>
    +01 24-728-362-82
</address>

<address>
    <strong>Support:</strong> <font color="red">Support@localtheatre.com</font>
    <br />
    <strong>Marketing:</strong> <font color="red">Marketing@localtheatre.com</font>
</address>