@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">Welcome to The Local Theatre Company website. Here you may read announcements posted by our staff; or view discussions posted by our community. Enjoy Yourself!</p>
    @if (!User.Identity.IsAuthenticated && !User.IsInRole("Suspended"))
    {<p><a href="../Account/Register" class="btn btn-primary btn-lg">Create a new post [Create Account]! &raquo;</a></p>}
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Suspended"))
    {<p><a href="../Posts/Create" class="btn btn-primary btn-lg">Create a new post! &raquo;</a></p>}
    @if (User.Identity.IsAuthenticated && User.IsInRole("Suspended"))
    {<p><a href="~/" class="btn btn-primary btn-lg">You are suspended!</a></p>}
        
    


    @model IEnumerable<Blogs.Models.Post>
    <table class="table">
        <tr>
            <th>
                <font color="white">
                    @Html.DisplayNameFor(model => model.Title)
                </font>
            </th>
            <th>
                Posted By
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <font size="+1">
                        @Html.ActionLink(item.Title, Url.Content("../Posts/Details"), new { id = item.PostID })
                    </font>
                </td>
                <td>
                    
                        @Html.DisplayFor(modelItem => item.UserID)
                    
                </td>
            </tr>
        }
            
</table>


</div>